/* Colors */
:root {
    --primary-color: #2E4053; /* Dark Slate */
    --secondary-color: #F2F3F4; /* Pearl White */
    --text-color: #17202A; /* Black Stone */
    --highlight-color: #27AE60; /* Emerald Green */
}

/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lora', serif;
    background-color: var(--secondary-color);
    color: var(--text-color);
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 0px;
}

/* Header and Footer Section */
header, footer {
    width: 100vw;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

footer {
    text-align: center;
    padding: 20px;
}

/* Navbar */
nav ul {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    margin-right: 20px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: 600;
    position: relative;
    padding: 10px 0;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: var(--highlight-color);
}

/* Underline hover effect */
nav ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: var(--highlight-color);
    left: 0;
    bottom: 0;
    transition: width 0.3s ease;
}

nav ul li a:hover::after {
    width: 100%;
}

.hamburger {
    display: none;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    right: 20px;
    top: 20px;
    color: var(--secondary-color);
}

#menu-toggle {
    display: none;
}

/* Navbar Responsive*/
@media (max-width: 768px) {
    nav ul {
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: var(--primary-color);
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        padding: 20px;
        z-index: 999;
        text-align: center;
    }

    #menu-toggle:checked + label + nav ul {
        display: flex;
    }

    .hamburger {
        display: block;
    }

    nav ul li {
        margin: 10px 0;
    }

}

@media (min-width: 769px) {
    nav ul {
        flex-direction: row;
        background-color: transparent;
        position: relative;
        width: auto;
        padding: 0;
        top: 0;
    }

    .hamburger {
        display: none;
    }
}

section {
    scroll-margin-top: 40px; 
}

/* Home Section */
.home-section {
    padding: 50px 20px;
    background-color: var(--secondary-color);
}

.home-container {
    flex-basis: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.home-text {
    flex-basis: 50%; 
    text-align: left; 
}

.home-text h1 {
    font-family: 'Lora', serif;
    font-size: 32px;
    color: var(--primary-color);
}

.home-text p {
    font-size: 18px;
}

/* Profile Photo */
.profile-photo {
    height: 40%;
    width: 40%;
    border-radius: 20px;
    overflow: hidden;
    margin-top:20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.profile-photo:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

/* Social Media */
.social-links a {
    text-decoration: none; 
}

.social-links a img {
    height: 30px;
    width: auto;
    margin-top: 20px;
    margin-right: 10px;
    transition: transform 0.3s ease;
}

.social-links a img:hover {
    transform: scale(1.1);
}

/* Main */
.tech-stacks h2,.projects h2, .gallery h2 {
    text-align: center; 
    padding: 10px 10px;
    color: var(--primary-color);
}

.projects, .gallery {
    padding: 50px 20px;
    background-color: var(--secondary-color);
}

.project-item img, .gallery-grid img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 10px;
}

/* Tech Stack Section */
.tech-stacks {
    padding: 50px 25%;
    background-color: var(--secondary-color);
}

.tech-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr)); 
    gap: 5px; 
    justify-items: center; 
}

.tech-grid img {
    width: 80px;
    height: 80px;
    transition: transform 0.3s ease;
}

.tech-grid img:hover {
    transform: scale(1.15);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

/* Projects Section */
.projects-grid, .gallery-grid {
    display: grid;
    gap: 20px;
}

.projects-grid {
    grid-template-columns: repeat(3, 1fr);
}

.project-item {
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 15px;
    background-color: var(--secondary-color);
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.project-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

/* Gallery Section */
.gallery-grid {
    grid-template-columns: repeat(4, 1fr);
}

.gallery-grid img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery-grid img:hover {
    transform: scale(1.75);
    transform-origin: center; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

/* Main Responsive */
@media (max-width: 1024px) { 
    .home-container {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .home-text {
        flex-basis: 100%; 
        text-align: center; 
    }

    .social-links a img {
        margin: 10px;
    }

    .profile-photo {
        height: 60%;
        width: 60%;
    }

    .projects-grid {
        grid-template-columns: repeat(2, 1fr); 
    }

    .gallery-grid {
        grid-template-columns: repeat(3, 1fr); 
    }
}

@media (max-width: 768px) { 
    .projects-grid {
        grid-template-columns: 1fr; 
    }

    .gallery-grid {
        grid-template-columns: repeat(2, 1fr); 
    }

    .gallery-grid img:hover {
        transform: scale(1.2);
    }
}
